<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
</head>
<style>
    table{width:950px;height:90px;}
    tr{width:150px;height:30px;border:1px solid black;}
    td{width:150px;height:3px;border:1px solid black;}
</style>
<body>
   <table>
       <tr>
           <td>文章作者</td>
           <td>文章名称</td>
           <td style="width:500px;">文章内容</td>
           <td>阅读量</td>
       </tr>
       {% for article in articles %}
       <tr>
           <td>{{ article.name }}</td>
           <td>{{ article.title }}</td>
           <td style="width:300px;">报道：{{ article.comment }}</td>
           <td></td>
       </tr>
       {% endfor %}
   </table>
</body>
</html>